.mg-t-10{
    margin : 10px;
}
.padding-2{
    padding: 2px;
}
.padding-10{
    padding: 10px;
}

.padding-15{
    padding: 15px;
}

.padding-0{
    padding: 0
}

.padding-20{
    padding: 20px
}

.padding-left-20{
    padding-left: 20px;
    padding-top: 2px
}







.el-input {
    // width : 220px;
}
.el-100-percent {
    width: 100% !important;
}
.el-input-100 {
    width: 100px !important;
}
.el-input-110 {
    width: 110px !important;
}

.el-input-120 {
    width: 120px !important;
}

.el-input-150 {
    width: 150px !important;
}

.el-input-180 {
    width: 180px !important;
}

.el-input-220 {
    width : 220px !important;
}

.el-input-280 {
    width : 280px !important;
}

.el-input-350 {
    width: 350px !important;
}

.el-input-660 {
    width : 660px !important;
}

.el-input-540{
    width: 540px !important;
}





.w-100-per{
    width: 100% !important;
}

.font-15{
    font-size: 15px
}

.font-16{
    font-size: 16px
}

.light-blue{
    background-color: #C6E2FF !important;
}

.light-green{
    background-color: #E1F3D8 !important;
}

.light-orange{
    background-color: #FAECD8 !important;
}

.light-red{
    background-color: #FDE2E2 !important;
}

.deep-blue{
    background-color: #409EFF !important;
}

.deep-green{
    background-color: #67C23A !important;
}

.deep-orange{
    background-color: #E6A23C !important;
}

.deep-red{
    background-color: #F56C6C !important;
}